body{
  display: flex;
  flex-flow: column;
  margin: 0;
  background-color: orange;
  height: 100vh;
}

header{
  background-color: gray;
  min-height: 50px;
  width: 100%;
}

#wrapper{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 20px;
}

#wrapper > div{
  padding: 5px;
  border-radius: 5px;
}

#sidebar{
  position: sticky;
  background-color: lightblue;
  min-height: 20px;
  width: 15%;
  overflow: auto;
}

#main{
  background-color: white;
  width: 80%;
}

footer{
  background-color: black;
  color: white;
  min-height: 20px;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  margin: 0;
  z-index: -1;
}