.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-arround;
  align-items: flex-start;  
}
.sidebar {
  /*border: 5px solid #222;*/
  width: 25%;
  /*height: 25vh;*/
  min-height: 200px;
  top: 5%;
  
}

.main {
  width: 95%;
  height: 200vh;
  min-height: 1000px;
}

.main,
.sidebar {
  /*border: 5px solid #222;*/
  background-color: white;
  border-radius: 10px;
  color: #222;
  padding: 15px;
}

body {
  padding: 3%;
  background-color: #ccc;
  font-size: 20px;
  box-sizing: border-box;
}

code, pre {
  background-color: #ccc;
  padding: 0 3px;
  border-radius: 5px;
}

.bottom {
  justify-self: bottom;
}

#l{
  
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: red;
  color: white;
}
